#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

.loading {
  font-size: 2rem;
  margin: 2rem;
}

.change-name-form,
.change-email-form,
.change-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}