.Gallery {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
}

.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.MuiPaginationItem-root {
    color: white !important;
}

.Sort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}