.upload-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-image-form {
    display: flex;
    flex-direction: column;

}

.file-input {
    margin-bottom: 1rem;
    margin-top: 1rem;
}