.Artwork {
    width: 100%;
    max-width: 400px;
    height: auto;

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .description {
        margin-bottom: 10px;
    }

    .type {
        font-style: italic;
        margin-bottom: 10px;
    }

    .author {
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .file {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}