nav.nav-bar {
    align-items: center;
    padding: 1em 2em;
    background-color: #1a1a1a;
    border-bottom: 1px solid #646cff;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;

        div {
            display: flex;
            align-items: center;
        }

        li {
            margin-right: 1em;

            a,
            button {
                border: none;
                padding: 0;
                color: #646cff;
                text-decoration: none;
                font-size: 1.2em;
                font-weight: 500;
                font-family: inherit;
                cursor: pointer;
                transition: border-color 0.25s;

                &:hover {
                    color: #535bf2;
                }

                &.active {
                    color: #429edb;
                }
            }
        }
    }
}